// Most layout settings will be controlled by
//  1. foundation-based classes inside the markup
//  2. configuration settings in the vendors/foundation config file (such as $row-width)

.layout-container {

}

main {
    min-height: 800px;
    margin-bottom: 80px;
}

.page-content {
    padding-bottom: 0px;
}
