

/*----------------  Events Listing Block  -------------*/

// Hide the bottom-most views row class
.page-content  .event--display-detailed-list:last-child {
    border-bottom: 0;
}

.events-block {
    &__title {
        margin-top: 25px;
        position: relative;
        font-size: rem-calc(21px);
        color: $blue-bright;
        border-bottom: 2px solid $blue-light;
        padding-bottom: 12px;
        margin-bottom: 20px;
        &:before {
            background: $blue-bright;
            bottom: 0;
            left: 0;
            content: "";
            display: block;
            height: 2px;
            margin: 0 0 -2px;
            position: absolute;
            width: 40px;
        }
    }
}

.event {
    margin-left: 15px !important;
    margin-right: 15px !important;
    border-bottom: 2px solid $gray;
    padding-bottom: 13px;
    @media #{$medium-up}{
        border: 0;
        padding-bottom: 0;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    &--display-detailed-list {
        border-bottom: 1px dotted $gray;
        margin: 0 0 25px 0;
        padding-bottom: 25px;
        &:last {
            border-bottom: 0;
        }
    }
    &--display-calendar-list {
        margin-bottom: 15px;
        margin-left: 34px !important;
        margin-right: 22px !important;
    }
    &__title {
        margin-bottom: 3px;
        font-size: rem-calc(23px);
        a {
            color: $blue-bright;
        }
        &--calendar-list {
            line-height: rem-calc(27px);
            font-size: rem-calc(22px);
            font-weight: 600;
            color: $blue-bright;
            margin-bottom: 0;
            margin-top: 9px;
            @media #{$medium-up} {
                margin: 0;
                line-height: rem-calc(21px);
                font-size: rem-calc(15px);
                font-weight: $bold;
                color: $blue-bright;
                margin-bottom: 1px;
            }
        }
    }
    &__event-daterange {
        font-size: rem-calc(16px);
        color: $blue-primary;
        font-weight: bold;
        padding: 10px 0 0px 0;
    }
    &__time {
        &--calendar-list {
            font-size: rem-calc(14px);
            line-height: rem-calc(21px);
            color: $blue-primary;
        }
    }
    &__event-location {
        display: inline-block;
        font-size: rem-calc(14px);
        line-height: rem-calc(21px);
    }
    &__event-registration {
        margin-bottom: 12px;
    }
    &__event-registration,
    &__event-documents {
        font-weight: 700;
        a {
            font-weight: normal;
        }
    }
    &__calendar-icon {
        background: $blue-dark;
        border-radius: 0;
        color: #fff;
        text-align: center;
        margin-right: 12px;
        padding: 4px 7px 3px;
        margin-top: 4px;
        text-align: left;
        display: inline-block;
        @media #{$medium-up} {
            float: right;
            text-align: center;
            padding: 6px 10px 10px;
            display: block;
        }
    }
    &__month {
        font-weight: bold;
        text-transform: uppercase;
        font-size: rem-calc(14px);
        display: inline-block;
        @media #{$medium-up} {
            display: block;
            font-size: rem-calc(13px);
        }
    }
    &__day {
        font-weight: 700;
        font-size: rem-calc(14px);
        line-height: 24px;
        display: inline-block;
        @media #{$medium-up} {
            display: block;
            font-size: rem-calc(24px);
        }
    }
    &__more-link {
        font-size: rem-calc(16px);
        text-decoration: underline;
        text-align: center;
        @media #{$medium-up} {
            display: none;
            top: 18px;
            right: 0;
            text-align: left;
            text-decoration: none;
            margin-left: 20px;
            font-size: rem-calc(13px);
        }
    }
}
