
.hero_image {
    margin-top: 15px;
    position: relative;
    &__content {
        font-size: rem-calc(13px);
        padding: 19px 30px 20px;
        width: 100%;
        background: rgba(96, 78, 53, 0.9);
        @media #{$medium-up} {
            position: absolute;
            width: 70%;
            bottom: 0px;
        }
        @media #{$large-up} {
            bottom: 30px;;
            width: 45%;
        }
        &--light {
            a {
                background: $blue-darkest;
                color: #fff;
            }
        }
        &--dark {
            background: rgba(15, 31, 62, 0.9);
            a {
                background: $blue-bright;
                color: #fff;
            }
        }
        &--left {
            left: 0;
            right: auto;
        }
        &--right {
            right: 0;
            left: auto;
        }
    }
    &__hero-title {
        color: #fff;
        font-weight: 600;
        font-size: rem-calc(20px);
        text-shadow: 0 1px 1px #222;
    }
    &__body {
        color: #fff;
        text-shadow: 0 1px 1px #555;
        padding: 0;
        margin: 0 0 10px 0;

    }
    &__hero-link a {
        text-shadow: none;
        display: inline-block;
        padding: 4px 8px;
        font-size: rem-calc(13px);
        font-weight: 600;
        border-radius: $global-radius;
    }
}

.homepage {
    &--secondary-content{
        padding-top: 30px;
    }
}
