{%
  extends "@stable/block/block.html.twig"
%}

{%
set block_base = block_type|clean_class
%}

{% set title_classes = [
    block_base ~ '__title',
    'block__title',
    block_base ~ '__title--' ~ content.field_individual_contact_layout.0['#markup'],
    ]
%}

{% set attributes = attributes.addClass( block_base, block_base ~ '__block' ) %}
{% set title_attributes = title_attributes.addClass( title_classes ) %}

{% block block %}
<div{{ attributes.addClass( block_base ) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass( title_classes ) }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
        
    {% set layout = content.field_individual_contact_layout.0['#markup'] %}
    {% set contact_id = content.field_individual_contact_contact.0['#plain_text'] %}
    {# <pre>{{ dump(view_mode) }}</pre> #}
    {{ drupal_view('contact', layout, contact_id) }}
    {# content #}
  
  {% endblock %}
</div>
{% endblock %}
