<div class="layout-container layout-container--fcoe-footer">
  <div class="fcoe-footer row">
    <nav role="navigation" class="footer-links small-6 medium-6 large-3 columns">
      <h4 class="footer-links__title">Site Links</h4>
      <ul class="footer-links__menu">
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https: //fcoe.org/departments">Office of Education</a></li>
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https: //fcoe.org/departments">Departments</a></li>
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https: //fcoe.org/departments">Districts</a></li>
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https: //fcoe.org/departments">Events</a></li>
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https: //fcoe.org/departments">News</a></li>
      </ul>
    </nav>
    <nav role="navigation" class="footer-links small-6 medium-6 large-3 columns">
      <h4 class="footer-links__title">Employee Links</h4>
      <ul class="footer-links__menu">
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https: //fcoe.org/departments">Sharepoint</a></li>
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https: //fcoe.org/departments">DMS</a></li>
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https: //fcoe.org/departments">AESOP</a></li>
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https: //fcoe.org/departments">Webmail</a></li>
        <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https: //fcoe.org/departments">News</a></li>
      </ul>
    </nav>
    <div class="medium-12 large-6 columns">
        <ul class="icon-links row">
          <li class="columns medium-6 large-12 icon-links__list-item">
            <img class="icon-links__icon" src="/{{ directory }}/images/icon_briefcase.png" />
            <h5 class="icon-links__title">Employment Opportunities at FCSS</h5>
            <p class="icon-links__description">Come learn how great it is to be a part of the FCOE Team.</p>
          </li>
          <li class="columns medium-6 large-12 icon-links__list-item">
            <img class="icon-links__icon" src="/{{ directory }}/images/icon_directory.png" />
            <h5 class="icon-links__title">Fresno County Schools Directory</h5>
            <p class="icon-links__description">Come learn how great it is to be a part of the FCOE Team.</p>
          </li>
          <li class="columns medium-6 large-12 icon-links__list-item">
            <img class="icon-links__icon" src="/{{ directory }}/images/icon_video.png" />
            <h5 class="icon-links__title">Check Out FCOE on YouTube</h5>
            <p class="icon-links__description">Come learn how great it is to be a part of the FCOE Team.</p>
          </li>
          <li class="columns medium-6 large-12 icon-links__list-item">
            <a href="http://fcoefoundation.org"><img class="icon-links__icon" src="/{{ directory }}/images/icon_foundation.png" /></a>
            <h5 class="icon-links__title"><a href="http://fcoefoundation.org">The Foundation at FCOE</a></h5>
            <p class="icon-links__description"><a href="http://fcoefoundation.org">Come learn how great it is to be a part of the FCOE Team.</a></p>
          </li>
        </ul>
    </div>
  </div>
</div>


