{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

<div class="title-bar--site-nav title-bar" data-responsive-toggle="siteNav" data-hide-for="large">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Department Menu</div>
</div>

{{ menus.menu_links(items, attributes, 0) }}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{% macro menu_links(items, attributes, menu_level) %}
  {% set site_menu_classes = ['site-nav__menu', 'vertical', 'menu', 'large-horizontal' ] %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass(site_menu_classes) }} id="siteNav" data-responsive-menu="accordion large-dropdown">
    {% else %}
      <ul class="menu nested vertical site-nav__menu site-nav__menu--second-level">
    {% endif %}
      {% for item in items %}

        {% if menu_level == 0 %}
          {%  set item_class = 'site-nav__menu-link' %}
        {% else %}
          {%  set item_class = 'site-nav__menu-link--second-level' %}
        {% endif %}

        {% if loop.first %}
          <li{{ item.attributes.addClass('site-nav__menu-item') }}>
          {{ link(item.title, item.url, { 'class':[ item_class, item_class ~ '--first' ]} ) }}
        {% elseif loop.last %}
          <li{{ item.attributes.addClass('site-nav__menu-item') }}>
          {{ link(item.title, item.url, { 'class':[ item_class, item_class ~ '--last' ]} ) }}
        {% else %}
          <li{{ item.attributes.addClass('site-nav__menu-item') }}>
          {{ link(item.title, item.url, { 'class':[  item_class ]} ) }}
        {% endif %}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

