{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set block_type = ['block_type']%}
{% set add_classes = [
    'hero-image',
    'hero-image__size--' ~ content.field_hero_size['#items'].getValue()|first.value
    ]
    %}
{% set content_classes = [
    'hero-image__content',
    'hero-image__content--' ~ content.field_hero_align_text['#items'].getValue()|first.value,
    'hero-image__content--' ~ content.field_hero_background_color['#items'].getValue()|first.value
    ]
%}
{% set image_uri = content.field_hero_image.0['#item'].entity.uri.value %}
{% set hero_image = drupal_image(image_uri, content.field_hero_size['#items'].getValue()|first.value) %}

<div{{ attributes.addClass(add_classes) }}>
{{ title_prefix }}
<!-- <h2{{ title_attributes }}>{{ label }}</h2> -->
{{ title_suffix }}
    {{ hero_image }}
    <div class="{{ content_classes|join(' ') }}">
      {{ content.field_hero_title }}
      {{ content.body }}
      {{ content.field_hero_link }}
    </div>
</div>

