{%
set block_base = block_type|clean_class
%}

{% set title_classes = [
    block_base ~ '__title',
    'block__title',
    ]
%}



{% set attributes = attributes.addClass( block_base ) %}
{% set title_attributes = title_attributes.addClass( title_classes ) %}
<div{{ attributes.addClass( block_base ) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="link-list__container">
    {{ content.field_link_list_image }}
  {% if content.field_link_list_image|render %}
    <h2{{ title_attributes.addClass( title_classes ) }}>{{ label }}</h2>
  {% else %}
    <h2{{ title_attributes.addClass( title_classes, 'no-image' ) }}>{{ label }}</h2>
  {% endif %}
    </div>
  {{ content.field_bt__link_list__description }}
  {{ content.field_bt__link_list__link }}
</div>
