
      <div class="layout-container layout-container--fcoe-footer">
        <div class="fcoe-footer row">
          <nav role="navigation" class="footer-links small-6 medium-6 large-3 columns">
            <h4 class="footer-links__title">Site Links</h4>
            <ul class="footer-links__menu">
              <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https://fcoe.org/">Office of Education</a></li>
              <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https://fcoe.org/departments">Departments</a></li>
              <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https://fcoe.org/districts">Districts</a></li>
              <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https://fcoe.org/events">Events</a></li>
              <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https://fcoe.org/news">News</a></li>
            </ul>
            <h4 class="footer-links__title footer-links__title--secondary">Partnerships</h4>
            <ul class="footer-links__menu">
              <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="http://www.fcoe.org/fresno-county-school-trustees-association">Trustees Association</a></li>
            </ul>
            <ul class="footer-links__menu">
              <li class="footer-links__menu-item">
                <div class="social-view">
                  <div class="logo">
                    <a href="https://www.facebook.com/Fresno-County-Superintendent-of-Schools-175851949593908/"><img src="https://www.fcoe.org/themes/fcss/images/icon_facebook.png" alt="FCSS Facebook Link" /></a>
                  </div>
                  <div class="logo">
                    <a href="https://twitter.com/FresnoCoSS"><img src="https://www.fcoe.org/themes/fcss/images/icon_twitter.png" alt="FCSS Twitter Link" /></a>
                  </div>
                  <div class="logo" style="background: #fff;">
                    <a href="https://www.youtube.com/user/fresnocoe"><img src="https://www.fcoe.org/themes/fcss/images/icon_youtube.png" alt="FCSS YouTube Link" /></a>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
          <nav role="navigation" class="footer-links small-6 medium-6 large-3 columns">
            <h4 class="footer-links__title">Employee Links</h4>
            <ul class="footer-links__menu">
              <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https://sharepoint.fcoe.org/default.aspx">Sharepoint</a></li>
              <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="https://dms.fcoe.org/">DMS</a></li>
              <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="http://app.frontlineeducation.com/">Frontline (AESOP)</a></li>
              <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="http://www.fcoe.org/email">Webmail</a></li>
            </ul>
            <h4 class="footer-links__title footer-links__title--secondary">Resources</h4>
            <ul class="footer-links__menu">
              <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="http://goo.gl/forms/D4rWgklcX5LjiOYa2">Sponsorship Application Form</a></li>
              <li class="footer-links__menu-item"><a class="footer-links__menu-link" href="http://www.fcoe.org/files/documents/FCSS_Directory_18-19-v2.pdf">Fresno County Schools Directory</a></li>
            </ul>
          </nav>
          <div class="medium-12 large-6 columns">
            <ul class="icon-links row">
              <li class="columns medium-6 large-12 icon-links__list-item">
                <a href="http://hr.fcoe.org/employment-opportunities"><img class="icon-links__icon" src="/{{ directory }}/images/icon_briefcase.png?ver=2" alt="FCSS Employment" /></a>
                <h5 class="icon-links__title"><a href="http://hr.fcoe.org/employment-opportunities">Employment Opportunities at FCSS</a></h5>
                <p class="icon-links__description"><a href="http://hr.fcoe.org/employment-opportunities">Come learn how great it is to be a part of the FCSS Team.</a></p>
              </li>
              <li class="columns medium-6 large-12 icon-links__list-item">
                <a href="http://hr.fcoe.org/nondiscrimination"><img class="icon-links__icon" src="/{{ directory }}/images/icon_scale.png" alt="FCSS Directory" /></a>
                <h5 class="icon-links__title icon-links__title--no-subhead"><a href="http://hr.fcoe.org/nondiscrimination">Title IX Nondiscrimination Policies</a></h5>
              </li>
              <li class="columns medium-6 large-12 icon-links__list-item">
                <a href="http://fcoefoundation.org"><img class="icon-links__icon" src="/{{ directory }}/images/icon_foundation.png" alt="FCSS Foundation" /></a>
                <h5 class="icon-links__title icon-links__title--no-subhead"><a href="http://fcoefoundation.org">The Foundation at FCOE</a></h5>
              </li>
              <li class="columns medium-6 large-12 icon-links__list-item" style="margin-left: 15px;">
                <h4 class="footer-links__title" style="margin-top: 15px;">FRESNO COUNTY SUPERINTENDENT OF SCHOOLS</h4>
                <ul class="footer-links__menu" style="color: #fff;">
                  <li>Jim A. Yovino, Superintendent of Schools</li>
                  <li>1111 Van Ness Avenue</li>
                  <li>Fresno, CA 93721</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

